* Reset default margin, padding, and border */
body, header, h1, h2, p, section {
    margin: 0;
    padding: 0;

    border: 0;
}

/* Set background color for the whole page */
body {
    background-color: #031a10;
    font-family: monospace, serif;
    text-align: left;
}

/* Style the header */
header {
    background-color: #114e35;
    color: #fbff00;
    text-align: right;
    padding: 25px;
}

/* Style the section */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #264e375d;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(10, 170, 77, 0.473);
}

/* Style the headings */
h1, h2 {
    color: #ff6600;
    text-shadow: 0 0 5px#8a280a;
}

/* Style the paragraphs */
p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 20px;
    color:rgb(255, 102, 0);
}

/* Style the list */
ul {
    list-style: disc;
    margin-left: 20px;
    color: #ff0000;
}
ol {
    list-style: disc;
    margin-left: 20px;
    color: #ff0000;
}

.image-container img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 80%;
    border: 5px solid;
    margin: 0 auto 15px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #ff6600;
}
.citation {
    font-size: 10px;
    color:rgb(255, 230, 0);
    line-height: 2;

}
